doctype html
head
  title Getting Data Out of Microservices

  link(href="/css/bootstrap.min.css", rel="stylesheet", integrity="sha384-LlPOZK7jvvPEMrrhdqVlEYmX2u/GWKdcq/p7wuVYAUladqNeK7VN1PUZQDmiqlql", crossorigin="anonymous")

body
  nav.navbar.navbar-expand-lg.navbar-light.bg-light
    a.navbar-brand(href='/') GDOOM
    button.navbar-toggler(type='button' data-toggle='collapse' data-target='#navbarSupportedContent' aria-controls='navbarSupportedContent' aria-expanded='false' aria-label='Toggle navigation')
      span.navbar-toggler-icon
    #navbarSupportedContent.collapse.navbar-collapse
      ul.navbar-nav.mr-auto
        li.nav-item
          a.nav-link(href='/')
            | Home 
        li.nav-item
          a.nav-link(href='/admin')
            | Admin
        li.nav-item
          a.nav-link(href='/admin/better')
            | Admin (Better)
        li.nav-item
          a.nav-link(href='/products')
            | Products
      form.form-inline.my-2.my-lg-0(method="GET" action="/products/search")
        input.form-control.mr-sm-2(type="search" placeholder="Search" aria-label="Search" name="q")
        button.btn.btn-outline-success.my-2.my-sm-0(type="submit") Search

  .container
    .div(style="margin-top: 30px")
      block content

  script(src="/js/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous")
  script(src="/js/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous")
  script(src="/js/bootstrap.bundle.min.js")